.tile{
    position: absolute;
    width: 62px;
    height: 62px;
    border: 1px solid black;
    display: grid;
    place-items: center;
    text-align: center;
    text-justify: center;
    font-size: 32px; 
}

.empty{
    background-color: rgb(16, 16, 16);
}

.ground{
    background-color: rgb(65, 158, 65);
}

.wall{
    background-color: rgb(127, 123, 123);
}

.danger{
    background-color: rgb(211, 58, 58);
}
