h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.error {
    color: #b00020;
    font-size: 12px;
    margin-top: -16px;
    padding-left: 16px;
}

.register-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
}
mat-card-header{
margin-bottom: 16px

}