.tile{
    width: 48px;
    height: 48px;
    border: 1px solid black;
    display: grid;
    place-items: center;
    text-align: center;
    text-justify: center;
    font-size: 32px; 
}
.ground{
    background-color: rgb(59, 168, 59);
}
.player{
    background-color: rgb(72, 72, 72);
}