.tile-row {
    display: flex;
    flex-direction: row
}

.map-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.vp {
    transition: transform 70ms ease-out;
}

.player {
    position: absolute;
    width: 62px;
    height: 62px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.277);
    display: grid;
    place-items: center;
    text-align: center;
    text-justify: center;
    font-size: 32px;
    transition: transform 40ms ease-out;
}