@import '@angular/material/prebuilt-themes/azure-blue.css';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Press Start 2P', monospace;
  scroll-behavior: none;
  overflow: hidden;
}

mat-card {
  width: 350px;
  padding: 30px;
}

.error {
  color: red;
}